# Environment variables & local properties (Do NOT commit sensitive credentials)
.env
*.env.local



# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.pytest_cache/
ai-engine/data/
data/


# Java & Maven
target/
*.class
*.jar
*.war

# Node & React
node_modules/
dist/
build/

# IDE & OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db
