fastapi
uvicorn
langgraph
langchain-groq
duckduckgo-search
langchain-community
pydantic
python-dotenv
redis
qdrant-client
fastembed
pypdf
sentence-transformers
python-multipart
langchain-text-splitters


