fastapi
uvicorn
langgraph
langchain-groq
duckduckgo-search
langchain-community
pydantic
python-dotenv
redis
chromadb
pypdf
sentence-transformers
langchain-chroma
python-multipart
langchain-text-splitters


